BraveSoftware
CatFetch
Electron
QtProject.conf
Slack
TabNine
TopTracker
Whalebird
arduino-ide
balena-etcher
com.github.bleakgrey.tootle
configstore
dconf
discord
flameshot
fontforge
gh
gtk-2.0
gtk-3.0
htop
matplotlib
mimeapps.list
mkeeter
nitrogen
nnn
pavucontrol-qt
pavucontrol.ini
pulse
slack-term
spotify
startpage
ttyper
tutanota-desktop
vlc
wireshark
